<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGvsrsRrEeo5j3LfT4Dm0N7vCjqKttY</string>
	<key>GCM_SENDER_ID</key>
	<string>514630778460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surgeryMemo</string>
	<key>PROJECT_ID</key>
	<string>surgery-counselling-memo</string>
	<key>STORAGE_BUCKET</key>
	<string>surgery-counselling-memo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514630778460:ios:f1acbfac1969b45f84b099</string>
</dict>
</plist>
